@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
.main-header{

}

.header1{
    height: 70px;
    background-color: rgb(248, 248, 246);
    display: flex;
    align-items: center;   
}

.foodie{
    margin-left: 70px;
    color:rgb(243, 188, 38);
}

.box1{
    margin-left: 250px;
}
.box2{
    margin-left: 20px;
}
.box3{
    margin-left: 20px;
}
.box4{
    margin-left: 20px;
}
.box5{
    margin-left: 20px;
}

.bag{
    margin-left: 250px;
    color: black;
}

.button {
    background-color: rgb(243, 188, 38);
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    margin-left: 20px;
    border: none;
}

/*  Box2  */

.area1{

    display: flex;

}



.main1{

    font-size: 60px;

    font-weight: bold;

    margin-top: 150px;

    margin-left: 50px;

    

}

.color{

    color: rgb(243, 188, 38);

}

.h1 {

    font-size: 1000px;

    

}



.box-img {

    height: 350px;

    width: 500px;



    background-image: url("./imags/pizza.png");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    margin-top: 50px;

    margin-left: 200px;

}
.will {
 margin-left: 50px;
 margin-top: 20px;
}

.Order{
    display: flex;
    align-items: center;
}

.button2 {
    background-color: rgb(243, 188, 38);
    color: white;
    padding: 7px 25px;
    border-radius: 5px;
    margin-left: 50px;
    border: none;
    display: flex;
}

.icon1{
    margin-left: 30px;
    font-size: 30px; 
}
.icon2{
     margin-left: 20px;
    font-size: 30px; 
}
.icon3{
     margin-left: 20px;
    font-size: 30px; 
}
.icon4{
     margin-left: 20px;
    font-size: 30px; 
}

/* box3 */

.service1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: #EBB636   
}
.service1 h6{
    font-size: 20px;
    font-weight: bold;
}

.service2 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.service2 h1 {
    font-size: 50px;
    font-weight: 700;
}
.main-2 {
    display: flex;
    justify-content: center;
    gap: 70px;
    
}

.card {
    width: 250px;
    text-align: center;
}

.img1,
.img2,
.img3 {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
   
}

.img1 {
    background-image: url("./imags/order.png");
}

.img2 {
    background-image: url("./imags/delivery.png");
}

.img3 {
    background-image: url("./imags/best.png");
}

.easy1 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}

.card p {
    margin: 0;
}

